$fontDefault: 'Josefin Sans', sans-serif;
$brightBlue: #3a7bfd;
$checkBackground: linear-gradient(0.38turn, #57ddff, #c058f3);
$veryLightGray: #fafafa;
$veryLightGrayishBlue: #e4e5f1;
$lightGrayishBlue: #d2d3db;
$darkGrayishBluePrimary: #9394a5;
$veryDarkGrayishBlue: #484b6a;
$veryDarkBlue: #181824;
$veryDarkDesaturatedBlue: #25273c;
$lightGrayishBlue: #cacde8;
$lightGrayishBlueHover: #e4e5f1;
$darkGrayishBlueSecondary: #777a92;
$veryDarkGrayishBluePrimary: #4d5066;
$veryDarkGrayishBlueSecondary: #393a4c;
